@model HMS.Models.Expertise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expertise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        @Html.DisplayFor(model => model.Speciality)
        <dd>
           
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpertiseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
